version: '3.8'

services:
  cvat_db:
    container_name: cvat_db
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_DB: cvat
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - cvat_db:/var/lib/postgresql/data

  cvat_redis_ondisk:
    container_name: cvat_redis_ondisk
    image: redis:7.2-alpine
    restart: always
    volumes:
      - cvat_redis_ondisk:/data

  cvat_redis_inmem:
    container_name: cvat_redis_inmem
    image: redis:7.2-alpine
    restart: always

  cvat_server:
    container_name: cvat_server
    image: cvat/server:v2.17.1
    restart: always
    depends_on:
      - cvat_redis_ondisk
      - cvat_redis_inmem
      - cvat_db
    environment:
      DJANGO_MODWSGI_EXTRA_ARGS: ''
      ALLOWED_HOSTS: '*'
      CVAT_REDIS_INMEM_HOST: 'cvat_redis_inmem'
      CVAT_REDIS_ONDISK_HOST: 'cvat_redis_ondisk'
      CVAT_POSTGRES_HOST: 'cvat_db'
      CVAT_SHARE_URL: '/home/django/share'
      CVAT_BASE_URL: ''
    volumes:
      - cvat_data:/home/django/data
      - cvat_keys:/home/django/keys
      - cvat_logs:/home/django/logs
      # Mount local training chips directory
      - ./data/training_chips:/home/django/share:rw
    ports:
      - "8080:8080"

  cvat_ui:
    container_name: cvat_ui
    image: cvat/ui:v2.17.1
    restart: always
    depends_on:
      - cvat_server
    ports:
      - "80:80"

  cvat_worker_import:
    container_name: cvat_worker_import
    image: cvat/server:v2.17.1
    restart: always
    depends_on:
      - cvat_redis_ondisk
      - cvat_redis_inmem
      - cvat_db
    environment:
      CVAT_REDIS_INMEM_HOST: 'cvat_redis_inmem'
      CVAT_REDIS_ONDISK_HOST: 'cvat_redis_ondisk'
      CVAT_POSTGRES_HOST: 'cvat_db'
    command: run worker import
    volumes:
      - cvat_data:/home/django/data
      - ./data/training_chips:/home/django/share:rw

  cvat_worker_export:
    container_name: cvat_worker_export
    image: cvat/server:v2.17.1
    restart: always
    depends_on:
      - cvat_redis_ondisk
      - cvat_redis_inmem
      - cvat_db
    environment:
      CVAT_REDIS_INMEM_HOST: 'cvat_redis_inmem'
      CVAT_REDIS_ONDISK_HOST: 'cvat_redis_ondisk'
      CVAT_POSTGRES_HOST: 'cvat_db'
    command: run worker export
    volumes:
      - cvat_data:/home/django/data
      - ./data/training_chips:/home/django/share:rw

  cvat_worker_annotation:
    container_name: cvat_worker_annotation
    image: cvat/server:v2.17.1
    restart: always
    depends_on:
      - cvat_redis_ondisk
      - cvat_redis_inmem
      - cvat_db
    environment:
      CVAT_REDIS_INMEM_HOST: 'cvat_redis_inmem'
      CVAT_REDIS_ONDISK_HOST: 'cvat_redis_ondisk'
      CVAT_POSTGRES_HOST: 'cvat_db'
    command: run worker annotation
    volumes:
      - cvat_data:/home/django/data

  cvat_worker_webhooks:
    container_name: cvat_worker_webhooks
    image: cvat/server:v2.17.1
    restart: always
    depends_on:
      - cvat_redis_ondisk
      - cvat_redis_inmem
      - cvat_db
    environment:
      CVAT_REDIS_INMEM_HOST: 'cvat_redis_inmem'
      CVAT_REDIS_ONDISK_HOST: 'cvat_redis_ondisk'
      CVAT_POSTGRES_HOST: 'cvat_db'
    command: run worker webhooks
    volumes:
      - cvat_data:/home/django/data

volumes:
  cvat_db:
  cvat_data:
  cvat_keys:
  cvat_logs:
  cvat_redis_ondisk:
